CMakeCache.txt
CMakeFiles/
Makefile
OGaBoxProject.cbp
cmake_install.cmake
compile_commands.json
*.vcxproj*
*.sln
Debug/
Release/
Win32/
.vs/
*.sdf
*.VC.opendb
OGaBox
OGaBoxProject.layout
/OGa/*/nbproject/
