CMakeCache.txt
CMakeFiles/
Makefile
OGaBoxProject.cbp
cmake_install.cmake
compile_commands.json
install_manifest.txt
*.vcxproj*
*.sln
Debug/
Release/
Win32/
.vs/
*.sdf
*.VC.opendb
OGaBox
OGaBoxProject.layout
/OGa/*/nbproject/
*.swp
Session.vim
.ycm_extra_conf.*

